{
    "singleQuote": false,
    "trailingComma": "all",
    "semi": false,
    "useTabs": false,
    "tabWidth": 4,
    "jsxSingleQuote": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "bracketSpacing": true
}